@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kufam', cursive;
    background: #04979cb0;
}


#p {
    background-color: #074c6b8f;
    position: absolute;
    font-size: 60px;
    top: 33%;
    left: 33%;
    padding: 20px;
    border: 5px solid #074c6b8f;
    border-radius: 20px;
    color: #ffffff;
}